body {
    padding: 1.5rem;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 3rem;
    margin-bottom: 0;
}

h2, h3 {
    font-family: "Libre Baskerville", serif;
    font-weight: normal;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    color: #AAA;
    font-weight: normal;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
    line-height: 1.75rem;
}